*{
	border:0;
	box-sizing: border-box;
	margin:0;
	padding: 0;
}

body{
	color:rgb(0, 0, 0);
	font-family: 'Sofia Sans', sans-serif;
	font-size:100%;
	line-height: 1.3
}

p{
	font-size: 100%;
	margin:0 0 24px 0
}

/* inicio barra nav */

header{
	position: fixed;
	margin: auto;
	width: 100%;
	z-index: 1111;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.navbarM {
	background-color: coral;
	display: flex;
	position: sticky; 
	align-items: center;
	justify-content: center;
	top: 0px;
	cursor: pointer;
	width:100%;
	height: 60px;
	margin: auto;
}

.nav-list {
	width: 100%;
	text-align: left;
	display: flex;
	margin-bottom: 0px;
}

.nav-list li {
	color:rgb(255, 255, 255);
	font-family: 'Sofia Sans', sans-serif;
	font-size: 110%;
	font-weight: 700;
	text-decoration: none;
	text-align: left;
	list-style: none;
	padding: 0px 10px;
}

.nav-list li a {
	text-decoration: none;
	color: white;
}

.nav-list li a:hover {
	color: black;
}

.rightNav {
	text-align: right;
	display: flex;
	list-style: none;
	align-items: center;
	margin-bottom: 0px;
	height: 40px;
}

.rightNav li {
	padding: 26px 10px;
}

.buttonNav {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	background-color: #fff;
}


/* fin barra nav */

/* inicio home */

.parallas, .main{margin:0 auto}

.texto{
	width: 100%;
	height: 100%;
	display: inline;
	overflow: hidden;
}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:600px;
	max-width: 100%;
	position: relative
}

.textoimg{
	left: 10%;
	position: absolute;
	text-align: center;
	top:30%;
	width: 80%
}

.titular{
	color:#fff;
	font-size: 400%;
	font-weight: 700;
	font-size: calc(1.525rem + 3.3vw);
}

.subtitular{
	color:#fff;
	font-size: 200%;
	font-weight:300
}

.img-uno{
	background-image:url("https://tinyurl.com/jp56xcg")
}

.row-margin {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.col-padding {
	padding: 0px;
}

.galeria img:hover {
	color: rgba(255, 127, 80, 0.455);
}

/* fin home */

/* inicio sobre mi */
.img-about {
	margin-top: 70px;
	height: 300px;
}

.section_about{
	padding: 90px 20px;
}

.h2_about{
	text-align: left; 
	padding-bottom: 20px; 
	color: coral;
}

/* fin sobre mi */

/* inicio servicios */

.section_servicios{
	padding: 90px 20px;
}

/* fin servicios */

/* inicio contacto */

.contact_form{  
	height: auto;
	border-radius: 10px;  
	padding-top: 90px;
	padding-bottom: 20px;   
}

.btn-contacto { 
	font-weight: 700;
	background-color: coral;
	border-width: 0px; 
}

.h1_contacto{
	font-size: 39px;  
	font-weight: 700;
	text-align: center; 
	padding-bottom: 20px; 
	color: coral;
}

.h3_contacto{
	font-size: 20px; 
	padding-bottom: 30px;
	color: #474747;  
	text-align: center; 
}

/* fin contacto */


/* inicio footer */

footer {
	padding: 20px;
	background-color: coral;
}

footer p{
	font-size: 120%;
	text-align: center;
	color: white;
}

/* fin footer */